<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>Star</title>
	<link href="css/star.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="Ctrl">
	<div class="fav-list">
		<div ng-repeat="img in imgs" style="flex-grow:{{img.width*100/img.height}};flex-basis:{{img.width*240/img.height}}px;">
			<i style="padding-bottom:{{img.height/img.width*100}}%"></i>
			<img ng-src="{{img.url}}"/>
		</div>
		<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" class="placeholder"></div>
	</div>
	
	<div id="imgDashboard" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<img id="showImg"/>
			</div>
		</div>
	</div>
	
	<div class="loading-zone" id="progress-loading" ng-show="loading">
		<div class="text" ng-bind="'loading...'+ loadingProgress +'%'"></div>
		<div class="progress progress-striped active">
			<div ng-style="loadingPercent" class="bar"></div>
		</div>
	</div>

	<script src="plugins/jquery/jquery-3.0.0.min.js"></script>
	<script src="plugins/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/star.js"></script>
</body>
</html>
