<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello Gulp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/main.css" rel="stylesheet">
</head>

<body>
  <div class="main">
    <div class="box">
      <div class="v-tree">
        <div class="v-tree-inner">
          <line class="v-tree-border"></line>
          <ul class="v-tree-content">
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="v-tree-item">
              <div class="item-sheet">
                <div class="item-label">
                  <span>动植物检验检疫科</span>
                </div>
              </div>
              <div class="item-expand">
                <ul class="item-options">
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>执法力量</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>集装箱堆场</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>船舶位置</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>码头监控</span>
                  </li>
                  <li class="item-option">
                    <i class="circle-line"></i>
                    <span>无人机</span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="http://lib.sinaapp.com/js/jquery/2.2.4/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="../js/resize.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>