<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1080">
	<title>Star</title>
	<link href="stars/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="stars/css/star.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="Ctrl">
	<div class="fav-list">
		<div ng-repeat="img in imgs" style="flex-grow:{{img.width*100/img.height}};flex-basis:{{img.width*240/img.height}}px;">
			<i style="padding-bottom:{{img.height/img.width*100}}%"></i>
			<img ng-src="{{img.url}}"/>
		</div>
		<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" class="placeholder"></div>
	</div>
	
	<div id="imgDashboard" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<img id="showImg"/>
			</div>
		</div>
	</div>
	
	<div class="loading-zone" id="progress-loading-l" ng-show="loading">
		<div class="text">loading...{{loadingProgress}}%</div>
		<div class="progress progress-striped active">
			<div ng-style="loadingPercent" class="bar"></div>
		</div>
	</div>
	
	<div class="row" id="progress-loading" ng-show="progress">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="spinner"></div>
<!-- 			<div style="display: inline-block; height: 100%; width: 178px; position: relative; left: 48%;" class="progress progress-xs progress-striped active"> -->
<!--             	<div class="progress-bar progress-bar-primary" style="width: 100%">Loading the next 20 records</div> -->
<!--             </div> -->
		</div>
	</div>

	<script src="stars/plugins/jquery/jquery-3.0.0.min.js"></script>
	<script src="stars/plugins/angular/angular.min.js"></script>
	<script src="stars/plugins/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="stars/js/star-baidu.js"></script>
</body>
</html>
