.hide{
  display: none;
}

input{
	border: 1px solid #e0e0e0;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    outline: 0 none;
    padding: 0 10px;
    transition: all 0.2s ease 0s;
    width: 223px;
    z-index: 1;
    box-sizing: content-box;
     margin: 0;
    vertical-align: baseline;
     font-family: sans-serif;
}