* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html,body {
	height:100%;
	font-size:0;
}
body {
	background-color:#fff;
	font-family:Arial,sans-serif;
	margin:0;
	padding:10px 10px 10px 7px;
}
@media only screen and (min-width:0) {
	.content,.msg {
	font-size:14px;
}
}@media only screen and (min-width:992px) {
	.content,.msg {
	font-size:14.5px;
}
}@media only screen and (min-width:1200px) {
	.content,.msg {
	font-size:15px;
}
}.clearfix {
	clear:both;
}
.hide {
	display:none!important;
}
.content {
	margin-top:40px;
	min-height: calc(100% - 65px);
}
.search-bar {
	position:fixed;
	width:calc(100% - 17px);
	left:7px;
	top:10px;
}
.search-control {
	width:100%;
	height:38px;
	line-height:38px;
	border:1px solid #E0E0E0;
	outline:none;
	font-size:15px;
	color:#757575;
	padding:0 35px 0 5px;
	border-radius:3px;
}
.search-control:focus {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.search.icon {
	color:#000;
	position:absolute;
	right:20px;
	top:12px;
	width:12px;
	height:12px;
	border:solid 1px #9E9E9E;
	border-radius:100%;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.search.icon:before {
	content:'';
	position:absolute;
	top:12px;
	left:5px;
	height:6px;
	width:1px;
	background-color:#9E9E9E;
}
.table {
	display:table;
	border-collapse:collapse;
	min-width:30%;
}
.table-caption {
	display:table-caption;
	border:none;
	padding:15px 5px 5px 5px;
	text-align:left;
	vertical-align:middle;
	font-weight:bold;
}
.table-row-group {
	display:table-row-group;
}
.table-row {
	display:table-row;
}
.table-row .table-cell:first-child,.table.clue .table-row .table-cell:nth-child(2) {
	white-space:nowrap;
	vertical-align:top;
}
.table-cell {
	display:table-cell;
	padding:5px;
	text-align:left;
	vertical-align:middle;
}
.chapter-header .table-cell {
	padding-top:10px;
	font-weight:bolder;
}
.table-row.chapter-header {
	border-bottom:1px solid #d0d0d0;
}
span.light {
	color:#dd4b39;
}
.msg {
	color:#a94442;
	padding:0 15px;
	border:1px solid transparent;
	border-radius:4px;
	background-color:#f2dede;
	border-color:#ebccd1;
}
footer {
	padding:5px;
	text-align:center;
}
footer a{
	color:#787a7d;
	font-size:12px;
	line-height:21px;
}
footer a:hover {
	text-decoration:underline;
}
.suggest {
	text-decoration:none;
	position:absolute;
	left: 10px;
}
.copy-right{
    color: #787a7d;
    font-size: 12px;
    line-height: 21px;
}

em.mode{
	color: #ff0000;
}