<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello Gulp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/main.css" rel="stylesheet">
</head>

<body>
  <div class="main">
    <div class="box">
      <div class="repository">
        <div class="repository-header">
          <p class="title">知识库搜索功能</p>
        </div>
        <div class="repository-search">
          <div class="search-type">
            <span class="type-label">害虫种类</span>
            <i class="icon-cert"></i>
          </div>
          <div class="search-ipt-container">
            <input class="search-ipt" id="search-content" />
          </div>
          <div class="search-btn-container">
            <i class="icon-search"></i>
            <span>搜索</span>
          </div>
        </div>
        <div class="repository-result">
          <span>共计</span>
          <span class="num">6</span>
          <span>个相关信息</span>
        </div>
        <div class="repository-dashboard">
          <ul>
            <li>
              <div class="pests-photo">
                <img src="../img/pests-1.jpg" />
                <span class="pests-name">杨干隐喙象</span>
              </div>
              <div class="pests-description">
                <div class="pests-desc">
                  杨干隐喙象（Cryptorrhynchus lapathi）是节肢动物门、昆虫纲、鞘翅目、象甲总科、象甲科的1个种。又名杨干象
                </div>
                <div class="pests-distributed">
                  亚洲、欧洲、北美洲
                </div>
                <div class="harm">
                  中国东北地区杨树的毁灭性害虫。幼虫在木质部和韧皮部之间环绕树干蛀食为害，导致枯死或遇风折断。被害率有时可达100%。东北地区是我国重要的木材生产基地，一旦传入我国并定殖，将对我国的林业、生态、环境和旅游资源造成巨大损失，甚至是毁灭性的危害。
                </div>
              </div>
            </li>
            <li>
              <div class="pests-photo">
                <img src="../img/pests-1.jpg" />
                <span class="pests-name">杨干隐喙象</span>
              </div>
              <div class="pests-description">
                <div class="pests-desc">
                  杨干隐喙象（Cryptorrhynchus lapathi）是节肢动物门、昆虫纲、鞘翅目、象甲总科、象甲科的1个种。又名杨干象
                </div>
                <div class="pests-distributed">
                  亚洲、欧洲、北美洲
                </div>
                <div class="harm">
                  中国东北地区杨树的毁灭性害虫。幼虫在木质部和韧皮部之间环绕树干蛀食为害，导致枯死或遇风折断。被害率有时可达100%。东北地区是我国重要的木材生产基地，一旦传入我国并定殖，将对我国的林业、生态、环境和旅游资源造成巨大损失，甚至是毁灭性的危害。
                </div>
              </div>
            </li>
            <li>
              <div class="pests-photo">
                <img src="../img/pests-1.jpg" />
                <span class="pests-name">杨干隐喙象</span>
              </div>
              <div class="pests-description">
                <div class="pests-desc">
                  杨干隐喙象（Cryptorrhynchus lapathi）是节肢动物门、昆虫纲、鞘翅目、象甲总科、象甲科的1个种。又名杨干象
                </div>
                <div class="pests-distributed">
                  亚洲、欧洲、北美洲
                </div>
                <div class="harm">
                  中国东北地区杨树的毁灭性害虫。幼虫在木质部和韧皮部之间环绕树干蛀食为害，导致枯死或遇风折断。被害率有时可达100%。东北地区是我国重要的木材生产基地，一旦传入我国并定殖，将对我国的林业、生态、环境和旅游资源造成巨大损失，甚至是毁灭性的危害。
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="repository-controls clearfix">
          <div class="pre-page">
            上一页
          </div>

          <ul class="pagers">
            <li class="pager active" data-index="0">1</li>
            <li class="pager" data-index="1">2</li>
          </ul>

          <div class="next-page">
            下一页
          </div>
        </div>
      </div>
    </div>
    <script src="http://lib.sinaapp.com/js/jquery/2.2.4/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../js/resize.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>